/*color_azul  = #3E64FF
color_verde = #4DD599
color_gris = #EAEAEA
color_gris_solido = #7E7E7E
size__titles = 18px
margin__size = .8em
size__btn = 16px

*/
colorBlue =  #3e64ff
colorBlueDark = #2d4cc7
colorGrey = #7E7E7E
color_GreyLight = #EAEAEA
colorGreen = #58a700
colorYellow = #FFDC34
padding = 1.3em 1.5em
border__radius = 30px
shadow = 0px 0px 9px 0px rgba(224, 224, 224, 0.774)