@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.btn {
  border-radius: 25px;
  padding: 1em 1.5em;
  font-weight: 400;
  font-size: 16px;
  border: 0 none;
  color: #fff;
  width: 100%;
}
.btn-blue {
  background: #3e64ff;
  transition: 0.5s all;
}
.btn-blue:hover {
  background: #2d4cc7;
  color: #fff;
  transform: scale(1.05);
}
.background-login {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'container-copy-login container-login';
  padding: 2em;
}
@media screen and (max-width: 426px) {
  .background-login {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'container-login';
    justify-content: center;
    align-items: center;
  }
}
.container-copy-login {
  grid-area: container-copy-login;
  background: url("/images/login.jpg");
  background-origin: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.img.login {
  width: 100%;
  height: auto;
}
.container-login {
  grid-area: container-login;
}
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form {
  text-align: center;
  background-color: #fff;
  padding: 4em 2.5em;
  border-radius: 25px;
  box-shadow: 0px 0px 29px 0px rgba(224,224,224,0.774);
  width: 60%;
  max-width: 28em;
}
@media screen and (max-width: 1025px) {
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 769px) {
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .form {
    padding: 3em 2em;
  }
}
.title {
  font-size: 2.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 2em;
}
@media screen and (max-width: 376px) {
  .title {
    font-size: 1.8em;
  }
}
.inputs {
  outline: none;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  padding: 1em 1.5em;
  box-shadow: 0px 0px 9px 0px rgba(224,224,224,0.774);
  border: none;
  width: 100%;
  margin-bottom: 2em;
}
.inputs:focus {
  border: 1px solid #3e64ff;
}
.btn.login {
  margin-top: 3em;
}
.navbar-default {
  background-color: color_azul;
  border-radius: 25px;
  margin: 0.4em;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
}
.logo-header {
  width: 100px;
  height: 30px;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-brand img {
  border-style: none;
}
.container-menu {
  margin: 0.5em 0.8em;
}
.container-menu h1 {
  text-align: center;
}
.container-menu .container-menu-one .container-item img {
  border-style: none;
}
.container-menu-one {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-menu-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
}
.container-menu-two .container-item {
  margin-right: 0.5em;
}
.container-item {
  width: 150px;
  height: 100px;
  border-radius: 25px;
  box-shadow: -1px 9px 9px -1px #c2bac2;
  background-color: transparent;
}
.icon-menu {
  width: 150px;
  height: 100px;
}
.subtitle-menu {
  padding: 0.5em;
  text-align: center;
  font-weight: bolder;
  margin-top: 1em 0;
}
