.container-item
     &.articulos
        background: url('/images/articulos.svg')
        background-repeat: no-repeat
        background-position: center;
     &.demostrativo
        background: url('/images/demostrativo.svg')
        background-repeat: no-repeat
        background-position: right ;
     &.posesivo
        background: url('/images/posesivo.svg')
        background-repeat: no-repeat
        background-position: left ;
     &.numerales
        background: url('/images/numerales.svg')
        background-repeat: no-repeat
        background-position: left;