body
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
  color: #3c3c3c
  

::-webkit-scrollbar
    width: 17px
    background: color_GreyLight

::-webkit-scrollbar-thumb
    background: colorBlue
    border-radius: 10px
    transition: background ease-in-out .5s
    &:hover
        background: colorBlueDark
  

li
    list-style none

a
    text-decoration: none
    color:colorGrey
.btn
    border-radius: 25px;
    padding: padding
    font-weight: 400;
    font-size: 16px;
    border: 0 none;
    color:white;
    width: 100%;
    outline: none
    transition: .5s all;
    cursor pointer
    &:hover
        transform: scale(1.05);
    &.btn-green
        background: colorGreen
  
  .btn-blue
    background: colorBlue
  .btn-white
    background: white
    color:colorGreen


.btn-blue:hover
    background: colorBlueDark
    color:white;
    box-shadow: shadow

.title 
   font-size: 2.5em
   font-weight: bold
   color: #000
.active
    display block

   @media screen and (max-width 376px)
       font-size: 1.8em

@keyframes animationIn
    from
        transform: translateY(-10px)
    to
        transform: translateY(0)

    


@keyframes animationOut
    from
        transform: translateY(5px)
        
    60%
        transform: translateY(-10px)
    
    75%
        transform: translateY(25px)
    
    to
        transform: translateY(-3000px)

.loader
    background: colorBlue
    display: flex;
    justify-content: center;
    align-items: center
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index 15
    & .icon
        width: 30%
        animation-name: pulso;
        animation-duration: 1s;
        transition: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @media screen and (max-width 768px)
            width 90%
    &.inactive
        display: none

@keyframes pulso{
    from{
        transform: scale(.9)
    }
    to{
        transform: scale(1)
    }
}
    

