@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "public/styl/vars/__var.styl"
@import "public/styl/__global.styl"
@import "public/styl/__animaciones.styl"
@import "public/styl/components/__Login.styl"
@import "public/styl/components/__Header.styl"
@import "public/styl/components/__mcButtonMenu.styl"
@import "public/styl/components/__Menu_principal.styl"
@import "public/styl/components/__SubMenu.styl"
@import "public/styl/components/__Actividades.styl"
@import "public/styl/components/__ActividadesAprender.styl"
